<!--  <app-diretiva-ngif></app-diretiva-ngif>
 -->  
<!-- <app-diretive-ngswitch></app-diretive-ngswitch>
 --><!-- <app-diretiva-ngfor></app-diretiva-ngfor>
 -->
 <!-- <app-diretiva-ngclass></app-diretiva-ngclass>
  -->
  <!-- <app-diretiva-ngstyle></app-diretiva-ngstyle>
  --> 
  <!-- <app-operador-elvis></app-operador-elvis>
 -->

 <!--  <app-exempllo-ng-content>Conteudo passado para o componente 

    <app-operador-elvis></app-operador-elvis>
  </app-exempllo-ng-content>
 -->
  <app-exempllo-ng-content>
      <div class="titulo">Título do Painel
      </div>
      <div class="corpo">Corpo do Painel
    </div>

    <app-operador-elvis></app-operador-elvis>
  </app-exempllo-ng-content>